@import '../../sass/constants.scss';

.form__input-container {
    position: relative;

    .form__location-input {
        width: 100%;
        border: 2px solid $color-grey;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;

        font-family: $font-family-nav;
        font-size: $font-size-x-small;

        margin: 8px 0;
        padding: 8px 40px 8px 8px;

        text-align: center;
        text-overflow: ellipsis;
        transition: 0.3s;

        + .form__btn {
            top: 8px;
            right: 0;
            position: absolute;

            border: none;
            background: none;
            font: inherit;
            color: $color-lagoon;
            outline: inherit;

            cursor: pointer;
            transition: 0.3s;
        }

        &:focus {
            border-color: $color-lagoon;
        }

        &.form__location-input--error {
            border-color: $color-burnt-orange;

            + .form__btn{
                color: $color-grey;
            }

            &:focus {
                border-color: $color-burnt-orange;
            }
        }
    }
}
