@import '../../sass/constants.scss';

.form__input-container {
    position: relative;

    .form__location-input {
        border: 2px solid #aaa;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        margin: 8px 0;
        outline: none;
        padding: 8px 40px 8px 8px;
        text-align: center;
        text-overflow: ellipsis;
        transition: 0.3s;
        width: 100%;

        &:focus {
            border-color: $temp-hover-color;
            box-shadow: 0 0 8px 0 $temp-hover-color;
        }
    }

    .form__location-input--error {
        border: 2px solid red;

        &:focus {
            border-color: red;
            box-shadow: 0 0 8px 0 red;
        }
    }

    .form__btn {
        position: absolute;
        right: 0;
        top: 8px;
        transition: 0.3s;
        background: none;
        color: inherit;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    .form__location-input + .form__btn {
        color: $temp-hover-color;
    }

    .form__location-input + .form__btn--disabled {
        color: gray;
    }
}
