@import '../../../sass/constants.scss';

@mixin nav__list-item {
    width: 100%;
    display: inline-block;
    text-align: center;
    list-style: none;

    line-height: 30px;
    padding: $padding-x-small;
    cursor: pointer;

    &:hover a {
        font-weight: bold;
        color: $color-lagoon;
    }

    a {
        color: #6E7982;
        text-decoration: none;
    }

    @media (min-width: $break-width) {
        padding: 15px;
    }
}

.sticky-nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;

    letter-spacing: 2px;
    line-height: 30px;

    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    font-size: $font-size-x-small;

    transition: all 0.5s ease;
    z-index: 100;

    transition-property: background-color, box-shadow, line-height, height;
    -webkit-transition-property: background-color, box-shadow, line-height, height;
    transition-timing-function: cubic-bezier(.78,.13,.15,.86);
    -webkit-transition-timing-function: cubic-bezier(.78,.13,.15,.86);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        margin: 0;
        padding: 0 $padding-small;

        text-transform: uppercase;

        transition: transform 150ms;
        -webkit-transition: -webkit-transform 150ms;

        @media (min-width: $break-width) {
            flex-direction: row;
            justify-content: stretch;
        }

        .nav__list-item--current {
            @include nav__list-item
            margin-top: 10px;

            @media (min-width: $break-width) {
                margin-top: 0;
            }
        }

        .nav__list-item--forecast {
            @include nav__list-item
            padding-bottom: 0;
        }

        .nav__list-item-location-form {
            @include nav__list-item
            flex-grow: 1;
            padding: 0;
        }
    }
}
