@function get-image-class($time) {
  @return url('../../img/#{$time}.jpg');
}

.wind-status-container {
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 0 2.5px 8px 0 rgba(0,0,0,.2);
    color: white;
    grid-row: 5 / 6;

    display: grid;
    grid-template: 60% 40% / 25% 50% 25%;

    &.image-day {
        background: get-image-class(morning);
        background-size: cover;
    }

    &.image-afternoon {
        background: get-image-class(afternoon);
        background-size: cover;
    }

    &.image-night {
        background: get-image-class(night);
        background-size: cover;
    }

    .wind-speed {
        grid-row: 1;
        grid-column: 1 / 4;

        font-size: 100px;
        justify-self: center;
        align-self: flex-end;

        span {
            font-size: 64px;
        }
    }

    .wind-direction {
        grid-row: 2;
        grid-column: 1;

        font-size: 64px;
        justify-self: center;
    }

    .wind-description {
        grid-row: 2;
        grid-column: 2;

        font-size: 24px;
        justify-self: flex-start;
    }

    .wind-beaufort-score {
        grid-row: 2;
        grid-column: 3;

        font-size: 60px;
        justify-self: center;
    }

}
