@import '../../sass/constants.scss';

@function get-image-class($time) {
  @return url('../../img/#{$time}.jpg');
}

.wind-status-container {
    @include status-card
    grid-row: 5 / 6;
    grid-template: 70% 30% / 25% 50% 25%;

    @media (min-width: $break-width) {
        grid-row: 1;
        grid-column: 1 / 4;
    }

    &.image-day {
        background: get-image-class(morning);
        background-size: cover;
    }

    &.image-afternoon {
        background: get-image-class(afternoon);
        background-size: cover;
    }

    &.image-night {
        background: get-image-class(night);
        background-size: cover;
    }

    .wind-speed {
        grid-row: 1;
        grid-column: 1 / 4;

        font-size: 100px;
        justify-self: center;
        align-self: flex-end;

        span {
            font-size: 64px;
        }

        @media (min-width: $break-width) {
            grid-column: 2 / 4;
            justify-self: flex-start;
        }
    }

    .wind-direction {
        grid-row: 2;
        grid-column: 1;

        font-size: 64px;
        justify-self: center;

        @media (min-width: $break-width) {
            grid-row: 1/3;
            grid-column: 1;
            font-size: 86px;
        }
    }

    .wind-description {
        grid-row: 2;
        grid-column: 2;

        font-size: 24px;
        justify-self: flex-start;

        @media (min-width: $break-width) {
            text-transform: uppercase;
            align-self: flex-start;
        }
    }

    .wind-beaufort-score {
        grid-row: 2;
        grid-column: 3;

        font-size: 60px;
        justify-self: center;

        @media (min-width: $break-width) {
            visibility: hidden;
        }
    }

}
