@import '../../constants.scss';
@import './toggleSwitch.scss';

.current-status-container {
    @include status-card
    grid-row: 1;

    grid-template: 20% 17% 55% 8% / 16% repeat(5, 1fr);
    justify-content: center;
    justify-items: center;

    background-color: $color-sandstone;
    padding: 0 $padding-x-small;

    @media (min-width: $break-width) {
        grid-row: 3;
        grid-column: 1;
        padding: 2em 1em 1em 1em;
    }

    .weather-icon-wrapper {
        grid-column: 1;
        grid-row: 1 / 3;

        color: $color-burnt-orange;
        font-size: 7vw;
        padding-top: $padding-x-small;

        @media (min-width: $break-width) {
            grid-row: 1 / 3;
            grid-column: 1 / 3;
        }
    }

    .yahoo-city-link {
        text-decoration: none;
        align-self: flex-end;
        color: inherit;

        grid-row: 1;
        grid-column: 2 / 7;
        justify-self: flex-start;
        max-width: 90%;

            @media (min-width: $break-width) {
                grid-column: 3 / 7;
            }

        .location-wrapper {
            overflow: hidden;

            font-size: 5vw;
            text-transform: uppercase;
            text-overflow: ellipsis;
            white-space: nowrap;

            padding-left: $padding-small;
            border-left: 1px solid white;
            border-width: medium;
        }
    }

    .date-wrapper {
        grid-row: 2;
        grid-column: 2 / 7;

        justify-self: flex-start;
        align-self: flex-start;
        font-size: 3vw;
        font-weight: lighter;

        border-left: 1px solid white;
        border-width: medium;

        padding-left: $padding-small;

        @media (min-width: $break-width) {
            grid-column: 3 / 7;
        }
    }

    .temperature-wrapper {
        grid-row: 3;
        grid-column: 1 / 3;

        text-align: center;
        font-size: 11vmax;

        i {
            color: $color-lagoon;
            font-size: 9vw;
            padding-left: $padding-x-small;
        }

        @media (max-width: 360px) {
            grid-column: 1 / 4;
        }

        @media (max-width: 230px) {
            grid-column: 1 / 7;
        }
    }

    .humidity-wrapper {
        grid-row: 3;
        grid-column: 3 / 5;
        display: flex;

        font-size: 11vmax;

        i {
            color: $color-lagoon;
            font-size: 6vw;
        }

        @media (max-width: 360px) {
            grid-column: 4 / 7;
        }

        @media (max-width: 230px) {
            display: none;
        }
    }

    .visibility-wrapper {
        grid-row: 3;
        grid-column: 5 / 7;
        display: flex;

        font-size: 11vmax;

        i {
            color: $color-lagoon;
            font-size: 6vw;
        }

        @media (max-width: 360px) {
            display: none;
        }
    }

    .unit-toggle-container {
        height: 100%;
        width: 100%;

        grid-row: 2;
        grid-column: 5 / 7;

        display: grid;
        grid-template: 100% / 30% 40% 30%;
        align-items: center;

        @media (min-width: $break-width) {
            grid-row: 4;
        }

        .unit-toggle-switch-wrapper {
            grid-row: 1;
            grid-column: 2;

            text-align: center;
            align-self: center;
        }

        .unit-celsius-wrapper {
            grid-row: 1;
            grid-column: 1;
            justify-self: flex-end;
            font-size: 6vmax;
        }

        .unit-fahrenheit-wrapper {
            grid-row: 1;
            grid-column: 3;
            justify-self: flex-start;
            font-size: 6vmax;
        }
    }
}
