.unit-toggle-switch-wrapper {
    /* The switch - the box around the slider */
    .unit-switch {
        position: relative;
        display: inline-block;
        width: 4vmax;
        height: 2vmax;

        .unit-toggle-switch {
            /* Hide default HTML checkbox */
            display: none;

            &:checked {
                + .toggle-slider {
                    background-color: $color-lagoon;
                }

                + .toggle-slider:before {
                    -webkit-transform: translateX(2.2vmax);
                    -ms-transform: translateX(2.2vmax);
                    transform: translateX(2.2vmax);
                }
            }

            &:focus + .toggle-slider {
                box-shadow: 0 0 1px $color-lagoon;
            }
        }

        .toggle-slider {
            border-radius: 2vmax;
            position: absolute;
            cursor: pointer;
            top: 0.2vmax;
            left: 0;
            right: 0.2vmax;
            bottom: 0;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            background-color: $color-burnt-orange;

            &:before {
                position: absolute;
                content: "";
                height: 1.8vmax;
                width: 1.8vmax;
                left: 0;
                bottom: 0;
                background-color: white;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                border-radius: 50%;
            }
        }
    }
}
