@import '../../sass/constants.scss';

@for $i from 0 through 9 {
    $rowstart: 1 + 2 * $i;
    $opacity: 1 - .05 * $i;

    .forecast-container.forecast-container-#{$i} {
        grid-row-start: $rowstart;
        background-color: rgba(106,177,135, $opacity);
    }
}

.forecast-container {
    box-shadow: 0 2.5px 8px 0 rgba(0,0,0,.2);
    color: white;
    display: grid;
    font-family: $font-family-primary;
    margin-bottom: 15px 0;
    align-items: center;


    font-size: 3vmax;
    grid-template: 100% / 5% repeat(5, 1fr);
    justify-content: center;
    text-transform: uppercase;
    padding: 0 12px;

    .dayOfWeek {
        grid-column: 2;
    }

    .weather-icon {
        grid-column: 3;
    }

    .temperature-hi {
        grid-column: 4;
    }

    .temperature-low {
        grid-column: 5;
    }

    .date {
        grid-column: 6;
        justify-self: flex-end;
        text-align: center;
    }
}
