@import './components/nav.scss';

body {
    font-family: 'weather','Open Sans', sans-serif;
    font-size: 13px;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 90px 50px 0 50px;

    @media (max-width: $break-width) {
        padding: 160px 10px 0 10px;
    }
}

.page-container {
    display: grid;
    grid-template: 10% 22% 2% repeat(3, 22%) / 100%;
    height: 100vh;

    .card {
        padding: 15px 0;
        align-items: center;
    }

    .location-name-container {
        background-color: red;
        grid-row-start: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .current-status-container {
        background-color: lightblue;
        grid-row: 2 / 3;

        display: flex;
        justify-content: space-around;

        .half-inner-card {
            padding: 0 25px;
            font-size: 3em;
        }

        .temperature {
            background-color: pink;
        }

        .weather-icon {
            background-color: green;
        }
    }

    .last-updated-container {
        text-align: right;
        grid-row: 3 / 4;
    }
}
