.location-name-container {
    background-color: red;
    grid-row-start: 1;
    font-size: 6vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
