@import '../../constants.scss';

@mixin column-1-large-screen {
    @media (min-width: $break-width) {
        grid-column: 1;
    }
}

@mixin column-double-large-screen {
    @media (min-width: $break-width) {
        grid-column: 1 / 3;
    }
}

@mixin column-3-large-screen {
    @media (min-width: $break-width) {
        grid-column: 2;
    }
}

@mixin sun-text-wrapper {
    font-size: $font-size-medium;

    @media (min-width: $break-width) {
        text-align: center;
        font-size: 3vw;
    }
}

@mixin sun-icon-wrapper {
    font-size: $icon-size-x-small;
}

.sun-status-container {
    @include status-card
    grid-row: 3;
    grid-template: 25% 50% 25% / 10% 80% 10%;

    background: $color-sea;
    background: -webkit-linear-gradient(160deg, $color-sea, $color-sunrise);
    background: linear-gradient(160deg, $color-sunrise, $color-sea);
    padding: 1em;

    @media (min-width: $break-width) {
        grid-row: 3;
        grid-column: 3;
        grid-template: 25% 50% 25% / 30% 70%;

        align-items: center;
        padding: 0;
    }

    .current-time-wrapper {
        @include column-double-large-screen
        grid-row: 2;
        grid-column: 2;

        font-size: 5vmax;
        text-align: center;
        justify-self: center;
    }

    .sunrise-icon-wrapper {
        @include column-1-large-screen
        @include sun-icon-wrapper
        grid-row: 1;
        grid-column: 1;

        justify-self: flex-end;
    }

    .sunset-icon-wrapper {
        @include column-1-large-screen
        @include sun-icon-wrapper
        grid-row: 3;
        grid-column: 3;

        @media (min-width: $break-width) {
            justify-self: flex-end;
        }
    }

    .sunrise-text-wrapper {
        @include column-3-large-screen
        @include sun-text-wrapper
        grid-row: 1;
        grid-column: 2;

        padding-left: $padding-small;

        @media (min-width: $break-width) {
            padding-right: $padding-small;
        }
    }

    .sunset-text-wrapper {
        @include column-3-large-screen
        @include sun-text-wrapper
        grid-column: 2;
        grid-row: 3;

        justify-self: flex-end;
        padding-right: $padding-small;

        @media (min-width: $break-width) {
            justify-self: flex-start;
            padding-left: $padding-small;
        }
    }
}
