@import './constants.scss';

body {
    font-family: $font-family-nav;
    font-size: 12px;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 160px 10px 0 10px;

    @media (min-width: $break-width) {
        padding: 90px 50px 0 50px;
    }
}
