@import url('https://fonts.googleapis.com/css?family=Lato|Nunito|Roboto+Condensed');

.sun-status-container {
    font-family: 'Roboto Condensed', sans-serif;
    grid-row: 3;
    box-shadow: 0 2.5px 8px 0 rgba(0,0,0,.2);
    color: white;
    background: linear-gradient(-197deg, #DE7122, #F4CC70, #61b187, #20948B);

    display: grid;
    grid-template: 25% 50% 25% / 15% 70% 15%;

    .current-time {
        grid-column: 2;
        grid-row: 2;

        font-size: 60px;
        justify-self: center;
    }

    .sun-icon-wrapper {
        font-size: 32px;

        &.sunrise-icon {
            grid-column: 1;
            grid-row: 1;

            justify-self: flex-end;
        }

        &.sunset-icon {
            grid-column: 3;
            grid-row: 3;
        }
    }

    .sun-text-wrapper {
        font-size: 24px;

        &.sunrise-text {
            grid-column: 2;
            grid-row: 1;

            padding-left: 12px;
        }

        &.sunset-text {
            grid-column: 2;
            grid-row: 3;

            justify-self: flex-end;
            padding-right: 12px;
        }
    }
}
