.sun-status-container {
    background-color: purple;
    grid-row: 3;

    display: flex;
    justify-content: space-around;

    .half-inner-card {
        padding: 0 25px;
        font-size: 50px;
    }

    .sunrise {
        background-color: pink;
    }

    .sunset {
        background-color: green;
    }
}
